.main_image
	%img{src: "https://scontent-a-ams.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/c0.92.851.315/p851x315/10610852_738849382848193_7709331811806544511_n.jpg?oh=86879fe3606b967015d62c0e0453023a&oe=546AABE9"}
:markdown
	#### Snorrelikkend lekkers voor elke gelegenheid &amp; elk budget

	Welkom bij **Le Moussetache**!

	Dankzij **Le Moussetache** ga jij voortaan snorrelikkend door het leven! Heb je voorlopig nog een haarvrije bovenlip? Geen zorgen, met onze 100% homemade chocolademousse maak je een prachtige chocoladesnor ;)

	**Le Moussetache** werkt zo veel mogelijk met streek- en seizoensproducten en is betaalbaar voor elk budget. Je vindt bij ons snorrelikkend lekkers voor elke gelegenheid, van babyborrels en recepties tot wanneer je gewoon een avond geen zin hebt om te koken. Probeer ook zeker onze desserts, onze specialiteit!

	Ontdek hier onze vaste kaart, die elke maand aangevuld wordt met enkele maandsuggesties en een voordelig maandmenu. Voor elk feest maken wij een aangepaste offerte op maat. Heb je zin in iets anders dan je op onze kaart terugvindt? Vraag gerust, alles kan! Ook voor feesten maken we steeds een voorstel op maat van uw feest en uw budget.

	Wil je graag iemand de **Moussetache**-ervaring cadeau doen? Kijk dan zeker eens bij de ontbijtmanden of contacteer ons voor een cadeaubon!

	Hopelijk tot binnenkort!

.facebook_link
	%a{href: "http://www.facebook.com/cateringlemoussetache"}
		=image_tag "facebooklogo.jpg"
