-content_for :main_image do
	%img{src: "tst"}
%h1 even voorstellen
%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec mollis dolor. Morbi arcu leo, luctus vel hendrerit ac, vestibulum ac nisi. Donec eget orci mattis tellus accumsan bibendum. Cras pellentesque, sem nec malesuada facilisis, sem metus ultrices lorem, porta imperdiet nisi mi ut metus. In laoreet, magna sit amet convallis condimentum, eros libero placerat quam, sed dignissim nunc leo in eros

