.main_image
	=image_tag "ontbijtmanden.jpg"
:markdown
	####Ontbijtmand ‘Le Moussetache’

	In onze ontbijtmand vindt u allerlei homemade lekkers terug!

	Eten er kleine genieters mee of wil je een kleine prins of prinses een leuk ontbijt schenken? Voor kinderen maken we graag een Moussetache kinderontbijtmandje met onze producten.

	**Ontbijtmand** €40 voor 2 personen

	aaa - bbb - ccc

	**Brunchmand** €60 voor 2 personen
