:markdown
	Ontbijtmand ‘Le Moussetache’

	In onze ontbijtmand vind u allerlei homemade lekkers terug! Ze bevat onder andere…

	Eten er kleine genieters mee of wil je een kleine prins of prinses een leuk ontbijt schenken? Voor kinderen maken we graag een Moussetache kinderontbijtmandje met onze producten.

	Prijs: €60 voor 2 personen
