.main_image
	=image_tag "ontbijtmanden.jpg"
%h2 Ontbijtmand ‘Le Moussetache’

:markdown
	In onze ontbijtmand vindt u allerlei homemade lekkers terug!

	Eten er kleine genieters mee of wil je een kleine prins of prinses een leuk ontbijt schenken? Voor kinderen maken we graag een Moussetache kinderontbijtmandje met onze producten.

	**Ontbijtmand** €40 voor 2 personen
%p 8 mini pistoletjes - mini croissants - 2 mini chocoladekoekjes - mini rozijnenkoekjes - versgeperste sinaasappelsap - homemade chocolademelk - homemade chocoladepasta - homemade confituur - boter - fruitslaatje - Brie - gerookte ham - chorizo - jonge kaas

:markdown
	**Brunchmand** €60 voor 2 personen

%p 8 mini pistoletjes - 2 mini croissants - 2 mini chocoladekoekjes - 2 mini rozijnenkoekjes - Fles versgeperst sinaasappelsap - Fles homemade chocolademelk - Flesje Cava Mas Pere - Krant - Homemade chocoladepasta - Homemade confituur - Boter - Fruitslaatje - Griekse yoghurt - Gerookte zalm met kruidenkaas - Aardbeien in chocolade - Brie - Gerookte ham - Chorizo - Kaas - Mini Quiche Lorraine
