- lines = [ "Mini quiche Lorraine (per 8)", "Zuiderse wrap (per 15)", "Mini quiche mediterrane groentjes (per 8)", "Brushetta’s met kruidenboter en tomatensalsa (per 10)", "Mini tomaat garnaal (per 10)", "Mini soepje met kaasstengel", "Worstenbroodjes Le Moussetache (per 12)", "Mousse van gerookte forel met groene appel (per 15)", "Hartige mini croissants met spek en kruidenkaas (per 10)", "Mini quiche zalm, prei &amp; kruidenkaas (per 8)", "Mini frittata’s met geroosterde groenten (per 12)", "Brushetta’s groene pesto, tomaat &amp; mozzarella (per 10)", "Gerookte zalm met dillevinaigrette (10 stuks)", "Fris geitenkaashapje met lente-ui en boterwafel (per 6)", "Geitenkaashapje met zongedroogde tomaatjes (per 8)", "Rivierkreeftjes met komkommer &amp; mango", "Pittige krabkoekjes (per 10)", "Tex Mex Nacho’s (2 pers)", "Nacho’s met yogurt-avocadodip", "Nacho’s met olijvendip", "Le Moussetache aperobord (2 personen)"]
- prices = ["€0.40/st", "€0.50/st", "€0.45/st", "€0.50/st", "€0.65/st", "€0.50/st", "€0.55/st", "€0.60/st", "€0.60/st", "€0.65/st", "€0.70/st", "€0.80/st", "€1.00/st", "€1.00/st", "€1.25/st", "€1.30/st", "€1.35/st", "€8.00", "€5.00", "€8.00", "€10.00"]


.main_image
	=image_tag "apero.jpg"
%h2 Apero
%table.menu_table
	- lines.length.times do |i|
		%tr
			%td.content
				#{lines[i]}
			%td.price
				#{prices[i]}

%h2 Soepen
- soepenLines = ["Courgettesoep", "Tomatenroomsoep met balletjes", "Braziliaanse Maïssoep"]
- soepenPrices = ["€3.00/l", "€6.00/l", "€6.00/l"]
%table.menu_table
	- soepenLines.length.times do |i|
		%tr
			%td.content
				#{soepenLines[i]}
			%td.price
				#{soepenPrices[i]}

%p.notice
	*We vragen om 24u op voorhand te bestellen voor de gerechten op deze pagina
