.main_image
	=image_tag "suggesties.jpg"

- lines = ["Champignonroomsoep", "Hete Bliksem", "Banoffee taart met chocolade", "", "Appeltaartje"]
- prices = ["€5/liter", "€6", "(4-5 personen) €15", "(8-10 personen) €20", "€3.00"]

%table.menu_table
	- lines.length.times do |i|
		%tr
			%td.content
				#{lines[i]}
			%td.price
				#{prices[i]}

%br
%p.centered Bestel tijdig uw Kerst en/of Eindejaarsmenu!
%h4 Kerstmenu
%ul.centered
	%li Assortment feestelijke hapjes
	%li &#9733;&#9733;&#9733;
	%li Saffraansoepje met mosseltjes
	%li &#9733;&#9733;&#9733;
	%li Everzwijnragout met amandelkroketjes en prinsessenboontjes
	%li OF
	%li Vispannetje met gratin van zoete aardappel
	%li &#9733;&#9733;&#9733;
	%li napolitaanse Kerstbûche met rood fruit
	%li &#9733;&#9733;&#9733;
	%li Zalige zoetigheden voor bij de koffie
	%li €30 p.p.
%br
%h4 Eindejaarsmenu
%ul.centered
	%li Assortiment feestelijke hapjes
	%li &#9733;&#9733;&#9733;
	%li Bisque van scampi's
	%li &#9733;&#9733;&#9733;
	%li Varkenshaasje met cognacsaus en geroosterde groentjes
	%li OF
	%li Papillot van zalm met groene pesto en kerstomaatjes
	%li &#9733;&#9733;&#9733;
	%li Soezenboom
	%li &#9733;&#9733;&#9733;
	%li Zalige zoetigheden voor bij de koffie
	%li €30 p.p.
%br
%p Combinaties van beide menu's of enkel een deel van de menu betellen is ook mogelijk, contacteer ons vrijblijvend voor meer informatie!


%p.notice
	*We vragen om 24u op voorhand te bestellen voor de gerechten op deze pagina
