.main_image
	=image_tag "suggesties.jpg"

- lines = ["Champignonroomsoep", "Hete Bliksem", "Banoffee taart met chocolade", "", "Appeltaartje"]
- prices = ["€5/liter", "€6", "(4-5 personen) €15", "(8-10 personen) €20", "€3.00"]

%table.menu_table
	- lines.length.times do |i|
		%tr
			%td.content
				#{lines[i]}
			%td.price
				#{prices[i]}

%p.notice
	*We vragen om 24u op voorhand te bestellen voor de gerechten op deze pagina
