.main_image
	=image_tag "suggesties.jpg"

- lines = ["Tomatenroomsoep", "Quiche Lorraine met kruidenkaas", "Oreo & chocolate mousse"]
- prices = ["€6/liter", "€10 per stuk", "€3.5 per stuk"]

%table.menu_table
	- lines.length.times do |i|
		%tr
			%td.content
				#{lines[i]}
			%td.price
				#{prices[i]}

%br
%p.centered Bestel tijdig uw Valentijnsmenu!
%h4 Valentijnsmenu
%ul.centered
	%li Assortiment tongstrelende hapjes met flesje cava
	%li &#9733;&#9733;&#9733;
	%li Duivelse scampi's
	%li &#9733;&#9733;&#9733;
	%li Rollade van kip met ricotta en gerookte ham
	%li vergezeld van een fris slaatje en rozemarijnaardappeltjes
	%li &#9733;&#9733;&#9733;
	%li Brownie van witte en pure chocolade met vanilleroomijs
	%li &#9733;&#9733;&#9733;
	%li Verleidelijke zoetigheden
	%li €30 p.p.
%br

%p.notice
	*We vragen om 24u op voorhand te bestellen voor de gerechten op deze pagina
