.main_image
	=image_tag "suggesties.jpg"

- lines = ["Farfalle met geitenkaassaus en walnoten", "Pittige pompoensoep met kokosmelk", "Appeltaartje"]
- prices = ["€6.00", "€6.00", "€3.00"]

%table.menu_table
	- lines.length.times do |i|
		%tr
			%td.content
				#{lines[i]}
			%td.price
				#{prices[i]}

%p.notice
	*We vragen om 24u op voorhand te bestellen voor de gerechten op deze pagina
