.main_image
	=image_tag "zoetigheden.jpg"
- items = {"Mousse van pure chocolade" => "€2.50", |
	"Bavarois van bosvruchten" => "€3.00", |
	"Citroentaartje" => "€3.00", |
	"Panna Cotta van witte chocolade met passievruchtcoulis" => "€3.00", |
	"Witte chocolademousse met frambozencoulis & cookie" => "€3.00", |
	"Rijstpap met kokosmelk en kokoskrokant" => "€3.00", |
	"Trifle met mascarponecreme en blauwe bessen" => "€3.00", |
	"Trifle van frambozen, kwark en pistaches" => "€3.00", |
	"Tiramisu met speculoos" => "€3.50", |
	"Exotische Tiramisu" => "€3.00", |
	"Fruitslaatje" => "€3.50", |
	"Passievruchtbavarois" => "€4.00", |
	"Oreo dessert" => "€4.00", |
	"Appeltaartje" => "€3.50", |
	"EMPTY1" => "", |
	"Aardbeienkaastaart" => "€5 - €10 - €20", |
	"Citroen-limoenkaastaart" => "€5 - €10 - €20", |
	"Chocoladekaastaart" => "€5 - €10 - €20", |
	"EMPTY2" => "", |
	"Oreo taart" => "€8 - €15 - €20", |
	"Trio chocolademoussetachetaart" => "€8 - €15 - €25", |
	"Frambozenparfait" => "€10.00", |
	"EMPTY3" => "", |
	"Assortiment ambachtelijke pralines 250gr" => "€6.50", |
	"Assortiment ambachtelijke pralines 500gr" => "€12.00", |
	"Kokosrotsjes" => "€4.00" |
} |
%table.menu_table
	- items.keys.length.times do |i|
		%tr
			%td.content
				#{items.keys[i].start_with?("EMPTY") ? "" : items.keys[i] }
			%td.price
				#{items[items.keys[i]]}

%p.notice
	*We vragen om 24u op voorhand te bestellen voor de zoetigheden op deze pagina
