.main_image
	= image_tag @category_page.image_url(:large)

- @category_page.categories.each do |category|
	%h2
		=category.name
	=render :partial => "categories/products", :locals => {:category => category}
