.header{
	.moussetache_left{
		width:25%;
		margin-left:-12.5%;
		display:inline-block;
	}
	.moussetache{
		width: 25%;
		color:white;
		background:image-url("moussetache.png");
		background-size: 100% 70%;
		background-repeat: no-repeat;
		background-position: center;
		display:inline-block;
	}
	.moussetache_right{
		width:25%;
		display:inline-block;
	}

	padding:0;
	height:$header_height;
	white-space:nowrap;
	overflow:hidden;
	nav{
		height:100%;
	}
	div{
		width:34%;
		height: 100%;
		display: inline-block;
		text-align:center;
		vertical-align:top;
		padding-top:50px;
	}

	a{
		text-decoration:none;
		color:white;
		font-size:3em;
		width: 30%;
		&:hover{
			text-decoration:none;
			color:LightGray;
		}
	}
}

.top_banner{
	width: 100%;
	height:$top_banner_height;
	text-align:center;
	font-size:2em;
}
