.panel{
	background-color: rgba(255,255,255,0.5);
}
.menu{
	padding-top:10px;
}
.al_ons_lekkers:after{
	background-image:asset-url("alonslekkerssnor.png");
}
.moussetache_club{
	padding-bottom:65px;
	&:after{
		background-image:asset-url("demoussetachesclubsnor.png");
	}
}
h1.moussetache_header{
	z-index:1;
	margin-bottom:40px;
	&:after{
		z-index:0;
		content:"";
		position:absolute;
		left:-10%;
		height:90px;
		width:120%;
		margin-top:-.5em;
		background-size:100% 100%;
		background-repeat:no-repeat;
		background-position:center;
	}
	width:140%;
	height:50px;
	margin-left:-20%;
}
.left_panel{
	text-align:center;
	.specialties{
		height:200px;
	}
	ul.left_ul{
		list-style-type:none;
		padding:0;
	}
	.moussetache_link{
		padding-bottom:6em;
		cursor:pointer;
		a{
			position:relative;
			z-index:1;
		}
		&:after{
			content:"";
			position:absolute;
			width:100%;
			height:4em;
			left:0;
			background-image:asset-url("moussetache.png");
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
	}
	.apero:after{
		background-image:asset-url("aperosoep.png");
	}
	.grote_honger:after{
		background-image:asset-url("degrotehonger.png");
	}
	.ontbijtmanden:after{
		background-image:asset-url("ontbijtmanden.png");
	}
	.suggesties:after{
		background-image:asset-url("suggesties.png");
	}
	.zoetigheden:after{
		background-image:asset-url("zoetigheden.png");
	}
}
.mid_panel{
	.main_content{
		text-align:justify;
		height:100%;
		padding:15px;
	}
}
.right_panel{
	.contact_info{
		height:200px;
		//padding-top:70px;
	}
}
body{
	background-image:asset-url("background.jpg");
	background-size: cover;
}
.row{
	z-index:0;
}

.logo, .mid_panel{
	margin-left:$gutter_width;
	margin-right:$gutter_width;
}
.right_overflow{
	margin-left:40px;
}
@media screen and (max-width: 979px){
	.header{
		height:100px;
	}
	.logo, .mid_panel{
		width:300px;
	}
	.header_moustache, .right_panel, .left_panel{
		width:200px;
	}
	.left_overflow{
		margin-left:-240px;
		margin-right:40px;
	}
	.container, .header_nav{
		width:780px;
	}
}
@media screen and (min-width: 980px) and (max-width: 1180px){
	.header{
		height:120px;
	}
	.logo, .mid_panel{
		width:400px;
	}
	.header_moustache, .right_panel, .left_panel{
		width:250px;
	}
	.left_overflow{
		margin-left:-290px;
		margin-right:40px;
	}
	.container, .header_nav{
		width:980px;
	}
}

@media screen and (min-width: 1181px){
	.header{
		height:150px;
	}
	.logo, .mid_panel{
		width:500px;
	}
	.header_moustache, .right_panel, .left_panel{
		width: 300px;
	}
	.left_overflow{
		margin-left:-340px;
		margin-right:40px;
	}
	.container, .header_nav{
		width: 1180px;
	}
}

