.testimonies{
	.testimony_slider{
		visibility:hidden;
		max-height:300px;
		overflow:hidden;
	}
	#start_index{
		display:none;
	}
	img{
		padding:5px;
	}
}
.testimony_author{
	display:block;
	font-weight: bold;
	float:right;
}
