%h1 Editing product

= render 'form'
%h2 Prices
=render :partial => "pricerows/table", :locals => {:pricerows => @product.pricerows, :product => @product}

= link_to 'Show', @product
\|
= link_to 'Back', products_path
