.header.col-xs-12
	%nav
		.moussetache_left
			&nbsp;
		.moussetache
			=link_to "menu"		, "/"
		.moussetache
			=link_to "LeMoussetache"		, "/"
		.moussetache
			=link_to "contact", "/"
		.moussetache_right
			&nbsp;
