.header.col-xs-12
	%nav.header_nav
		.header_moustache.left_overflow.brown_moussetache
		.header_moustache.moussetache.menu_header
		.logo
		.header_moustache.moussetache.contact_header
		.header_moustache.right_overflow.brown_moussetache
