.header.col-xs-12
	%nav
		.moussetache_left.brown_moussetache.moussetache
			&nbsp;
		.moussetache
			=link_to "menu", "/"
		.logo
		.moussetache
			=link_to "contact", "/"
		.moussetache_right.brown_moussetache.moussetache
			&nbsp;
