.header.col-xs-12
	%nav
		.moussetache_left.brown_moussetache.moussetache
			&nbsp;
		.moussetache.menu_header_link
		.logo
		.moussetache.contact_header_link
		.moussetache_right.brown_moussetache.moussetache
			&nbsp;
