.left_panel.col-xs-2
	.specialties
		%h1.moussetache_header WEEKMENU
		%ul
			%li Drie gangen voor 20€
			%li Scampibrochette
			%li huisbereid stoofpotje
			%li tiramisu
	.menu
		%h1.moussetache_header MENU
		klik verder naar
		.moussetache_link
			=link_to "pasta", "/"
		.moussetache_link
			=link_to "warm", "/"
		.moussetache_link
			=link_to "dessert", "/"
		.moussetache_link
			=link_to "cakes", "/"
