.left_panel.col-xs-2.panel
	.specialties
		%h1 WEEKMENU
		%ul
			%li Drie gangen voor 20€
			%li Scampibrochette
			%li huisbereid stoofpotje
			%li tiramisu
	.menu
		%h1.moussetache_header MENU
		klik verder naar
		.moussetache_link.apero
		.moussetache_link.grote_honger
		.moussetache_link.ontbijtmanden
		.moussetache_link.suggesties
		.moussetache_link.zoetigheden
