.left_panel.col-xs-2.panel
	.specialties
		%h1 MAANDMENU
		%ul.left_ul
			%li 
				:markdown
					**Drie gangen voor 20€**
			%li Scampibrochette
			%li &#9733;&#9733;&#9733;
			%li Huisbereid stoofpotje
			%li &#9733;&#9733;&#9733;
			%li tiramisu
	.menu
		%h1.moussetache_header.al_ons_lekkers
		klik verder naar
		.moussetache_link.apero
		.moussetache_link.grote_honger
		.moussetache_link.ontbijtmanden
		.moussetache_link.suggesties
		.moussetache_link.zoetigheden
