.left_panel.col-xs-2.panel
	.specialties
		%h2.tekton Suggestiemenu
		%ul.left_ul
			%li 
				:markdown
					**Drie gangen voor 2 personen €10 p.p.**
			%li Pittige pompoensoep
			%li &#9733;&#9733;&#9733;
			%li Farfalle met geitenkaassaus en walnoten
			%li &#9733;&#9733;&#9733;
			%li Appeltaartje
	.menu
		%h1.moussetache_header.al_ons_lekkers
		.moussetache_link.apero.link{:data => {"target" => "/soep"}}
		.moussetache_link.grote_honger.link{:data => {"target" => "/groteHonger"}}
		.moussetache_link.zoetigheden.link{:data => {"target" => "/zoetigheden"}}
		.moussetache_link.suggesties.link{:data => {"target" => "/suggesties"}}
		.moussetache_link.ontbijtmanden.link{:data => {"target" => "/ontbijtmanden"}}
