.left_panel.col-xs-2.panel
	.specialties
		%h2 Maandmenu
		%ul.left_ul
			%li 
				:markdown
					**Drie gangen voor 20€**
			%li Scampibrochette
			%li &#9733;&#9733;&#9733;
			%li Huisbereid stoofpotje
			%li &#9733;&#9733;&#9733;
			%li tiramisu
	.menu
		%h1.moussetache_header.al_ons_lekkers
		.moussetache_link.apero.link{:data => {"target" => "/soep"}}
		.moussetache_link.grote_honger.link{:data => {"target" => "/groteHonger"}}
		.moussetache_link.ontbijtmanden.link{:data => {"target" => "/ontbijtmanden"}}
		.moussetache_link.suggesties.link{:data => {"target" => "/suggesties"}}
		.moussetache_link.zoetigheden.link{:data => {"target" => "/zoetigheden"}}
