.mid_panel.col-xs-8.panel
	.main_content
		=yield
		%br
		.center
			%b
				Le Moussetache traiteur &amp; take-away - Terbeek 21 - 3800 <br/>
				Sint-Truiden 0484 18 42 72 - 
				%a{href: "mailto:lemoussetache@hotmail.com"} lemoussetache@hotmail.com
