.mid_panel.col-xs-8.panel
	.main_content
		=yield
		%br
		%b
			Le Moussetache traiteur &amp; takeaway - Terbeek 21 - 3800 Sint-Truiden 0484 18 42 72 - 
			%a{href: "mailto:lemoussetache@hotmail.com"} lemoussetache@hotmail.com
