.right_panel.col-xs-2.panel
	.contact_info
		%h2.tekton Contacteer ons
		%p
			Contacteer ons voor info &amp; bestellingen via 
			%strong 0484 18 42 72
			of een mailtje naar
			%a{href:"mailto:lemoussetache@hotmail.com?Subject=Bestelling LeMoussetache"}
				lemoussetache@hotmail.com

		%p
			Bezoek ons ook op
			%a{href: "http://www.facebook.com/cateringlemoussetache"}
				Facebook!
		%p
			%em
				*Gelieve minstens 24u op voorhand te bestellen voor de take-away gerechten.
		%p
			%em
				Voor grotere bestellingen maken we u graag een voorstel op maat.

	.testimonies
		%input#start_index{value:@start_index}
		%h1.moussetache_header.moussetache_club
		=render partial: "testimonies/slider"
