.right_panel.col-xs-2.panel
	.contact_info
		:markdown
			## Contacteer ons
			Contacteer ons voor info &amp; bestellingen via **0484 18 42 72** of lemoussetache@hotmail.com

			Bezoek ons ook op facebook!

	.testimonies
		%input#start_index{value:@start_index}
		%h1.moussetache_header.moussetache_club
		=render partial: "testimonies/slider"
