.right_panel.col-xs-2.panel
	%p wil je graag gebruik maken van de diensten van Catering Le Moussetache?
	%p Contacteer ons vrijblijvens voor meer informatie op 011/123456
	%p offerte te verkrijgen via lemoussetache@gmail.com
	%p gratis levering aan huis binnen een straal van 25km

	.testimonies
		van bekende snorrendragers
		.testinmony
			%img{src: "lala"}
			%p "het stoofvlees van mijn vrouw is niet te vreten, voortaan wil ik alleen nog maar moussetache stoofvlees eten!"
		=link_to "gastenboek", "/"
